<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommentMapper">

	<resultMap id="commentSelectMap"
			   type="comment" >
		<result property="commentId" column="comment_id" jdbcType="INTEGER" />		
		<result property="roomId" column="room_id" jdbcType="INTEGER"/>
		<result property="userId" column="user_id" jdbcType="INTEGER"/>
		<result property="category" column="category_code" jdbcType="CHAR"/>
		<result property="content" column="content" jdbcType="VARCHAR"/>
		<result property="createdDate" column="created_date" jdbcType="DATE"/>
		<result property="status" column="status" jdbcType="CHAR"/>
		<result property="userName" column="user_name" jdbcType="VARCHAR"/>
		<result property="userImage" column="profile_image" jdbcType="VARCHAR"/>
	</resultMap>	

	<insert id="addComment"
			parameterType="comment">
		INSERT
		INTO COMMENTS (comment_id, created_date, status, category_code, content,
						room_id, user_id)
		VALUES(
			seq_comment_id.nextval, 
			SYSDATE,
			'Y',
			#{category}, 
			#{content},
			#{roomId},
			#{userId}
		)
		
		<selectKey keyProperty="commentId" resultType="Integer" order="AFTER"> 
			SELECT seq_comment_id.currval FROM dual
		</selectKey>
		
	</insert>
	
	<update id="deleteComment"
			parameterType="int">
		UPDATE COMMENTS
		<set>
			status = 'N'
		</set>
		<where>
			comment_id = #{commentId}
		</where>	
	</update>
	
	<select id="listComment" 
			parameterType="map"
			resultMap="commentSelectMap">
			
		SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
				FROM	( 
				
				SELECT comments.comment_id, comments.content, to_char(comments.created_date,'yyyy-mm-dd hh24:mi') AS created_date,
					comments.user_id, users.name AS user_name, users.profile_image AS profile_image
				FROM COMMENTS, USERS 
				<where>
					COMMENTS.user_id = USERS.user_id
					AND comments.category_code = '${categoryCode}'
					AND comments.room_id = #{roomId}
					AND comments.status = 'Y'
				</where>
				) inner_table
				WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}
			
	</select>
	
	<update id="updateComment"
			parameterType="comment">
			
		UPDATE COMMENTS
		<set>
			content = #{content:VARCHAR}
		</set>
		
		<where>
			comment_id = #{commentId}
		</where>
	
	</update>
	
</mapper>