<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="VoiceMapper">
	
	<resultMap id="voiceSelectMap" type="voice">
		<result property="voiceId" column="voice_id" jdbcType="INTEGER" />		
		<result property="voiceName" column="title" jdbcType="VARCHAR"/>
		<result property="categoryCode" column="category_code" jdbcType="VARCHAR"/>
		<result property="voicelyrics" column="song" jdbcType="VARCHAR"/>
		<result property="regDate" column="created_date" jdbcType="DATE"/>
		<result property="userID" column="user_id" jdbcType="INTEGER"/>
		<result property="backgroundImage" column="background_image" jdbcType="VARCHAR"/>
		<result property="countReply" column="count_reply" jdbcType="INTEGER"/>
		<result property="countUser" column="count_user" jdbcType="INTEGER"/>
		<result property="status" column="status" jdbcType="CHAR"/>
		<result property="userName" column="name" jdbcType="VARCHAR"/>
		<result property="profileImage" column="profile_image" jdbcType="CHAR"/>
		
	</resultMap>
	
	<insert id="addVoice" parameterType="voice">
		INSERT
		INTO voice( voice_id, category_code, title, background_image, created_date, song, status, user_id, count_reply, count_user)
		VALUES(seq_voice_id.nextval, #{voiceCategory}, #{voiceName}, #{backgroundImage}, SYSDATE, #{voicelyrics}, '0', #{userID}, 0, 0)
	</insert>
	
	<select id="getVoice" parameterType="int" resultMap="voiceSelectMap">
		SELECT voice_id, category_code, title, background_image, created_date, song, status, user_id, count_reply, count_user
		FROM voice
		WHERE voice_id=#{value}
	</select>
	
	<delete id="deleteVoice" parameterType="int">
		DELETE
		FROM voice
		WHERE voice_id=#{value}
	</delete>
	
	<select id="getVoiceList" parameterType="search" resultMap="voiceSelectMap">
		SELECT *
		FROM( SELECT inner_table.*, ROWNUM AS row_seq
					FROM( SELECT v.*, u.name, u.profile_image FROM voice v, users u
					<where>
						v.user_id=u.user_id(+)
						<if test="searchCondition != null and searchKeyword != null" >
								AND category_code = #{searchCondition} AND title LIKE '%${searchKeyword}%'
						</if>
						<if test="searchCondition == null and searchKeyword != null" >
								AND title LIKE '%${searchKeyword}%'
						</if>
						<if test="searchCondition != null and searchKeyword == null" >
								AND category_code = #{searchCondition}
						</if>
						
					</where>) inner_table
					WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getTotalCount" parameterType="search" resultType="int">
		SELECT COUNT(*)
		FROM( SELECT * FROM voice
					<where>
						<if test="searchCondition != null and searchKeyword != null" >
								category_code = #{searchCondition} AND title LIKE '%${searchKeyword}%'
						</if>
						<if test="searchCondition == null and searchKeyword != null" >
								title LIKE '%${searchKeyword}%'
						</if>
						<if test="searchCondition != null and searchKeyword == null" >
								category_code = #{searchCondition}
						</if>
						
					</where>) countTable
	</select>
	
	<update id="updateCountUser" parameterType="int">
		UPDATE voice
		SET count_user = count_user+1
		WHERE voice_id = #{value}
	</update>
	
	<update id="updateCountReply" parameterType="int">
		UPDATE voice
		SET count_reply = count_reply+1
		WHERE voice_id = #{value}
	</update>

</mapper>