@charset "EUC-KR";

body{ /* for demo purpose only */
    height:2000px;
    padding-top:50px;
}

  	.navbar-fixed-top {
    background: #ffffff;
    border-color: #ffffff;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    background-image: linear-gradient(to bottom,#cccccc 0,#cccccc 100%);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: #5F4B8B;
}

.mainbar {
	padding: 0px;
	height: 150px;
	width: 100%;
			text-align: center;			
}

.mainbar-menu {
	display: inline-block;
	cursor: pointer;
	width: 20%;
	height: 130px;
	line-height: 140px;
	padding: 10px;
	font-size: 20px;
	background: none;
	color: #000000;
	font-weight: bold;
	float: left;
	padding: 5px;
}

.mainbar-menu:hover, .mainbar-menu.active{
    border-bottom: 4px solid RGB(237,125,49);
}